@font-face {
    font-family: 'Gibson';
    src: url('../fonts/Gibson-Regular.woff2') format('woff2'),
        url('../fonts/Gibson-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gibson';
    src: url('../fonts/Gibson-RegularItalic.woff2') format('woff2'),
        url('../fonts/Gibson-RegularItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Gibson';
    src: url('../fonts/Gibson-Bold.woff2') format('woff2'),
        url('../fonts/Gibson-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gibson';
    src: url('../fonts/Gibson-BoldItalic.woff2') format('woff2'),
        url('../fonts/Gibson-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Gibson';
    src: url('../fonts/Gibson-SemiBold.woff2') format('woff2'),
        url('../fonts/Gibson-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

